<!DOCTYPE html>
<html>
<head>
  <title>Mapapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyC6w4h_z9Mr36FTJA1mrH60Y9Tuyc0JPZ4&sensor=true' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
