<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reserved_at %><br>
    <%= f.datetime_select :reserved_at %>
  </div>
  <div class="field">
    <%= f.label :scheduled_to %><br>
    <%= f.datetime_select :scheduled_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
